# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
s3-proxy

# Test
*.test
*.out
coverage.html

# Dependencies
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Air
tmp/
